extends layout

block content
  h1 #{title}: #{book.name}  
  
  p Do you really want to delete this Book?
	
  form(method='POST' action='')
    div.form-group
      input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

    button.btn.btn-primary(type='submit') Delete