extends layout

block content
  .container
    br
    br  
    #work-collections
      .row
        .col.s12
          ul.collection.z-depth-1
            li.collection-item.avatar
              i.material-icons.cyan.circle folder
              h5.collection-header #{title}
            each genre in genre_list
              li.collection-item
                a(href=genre.url)
                  .row
                    .col.s10.m8
                      p.collections-title !{genre.name} 
                    .col.s2.m4
                      i.material-icons keyboard_arrow_right
            else
              li 
                .row
                  .col.s9
                    p.collections-title There are no Genres.
