doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    // CORE CSS
    link(href='/css/materialize.css', type='text/css', rel='stylesheet')
    link(href='/css/style.css', type='text/css', rel='stylesheet')
    // Custome CSS
    link(href='/css/custom/custom.css', type='text/css', rel='stylesheet')
    // INCLUDED PLUGIN CSS ON THIS PAGE
    link(rel="stylesheet", href="/css/search.css")
    //- 
      ================================================
      Scripts
      ================================================
    // jQuery Library
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    // materialize js
    script(type='text/javascript', src='/js/materialize.js')
    
    // plugins.js - Some Specific JS codes for Plugin Settings
    script(type='text/javascript', src='/js/plugins.js')
    script(src="/js/search.js")
  body
    // Start Page Loading
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // End Page Loading
    // ////////////////////////////////////////////////////////////////////////////
    // START HEADER
    header#header.page-topbar
      // start header nav
      .navbar-fixed
        nav.navbar-color.gradient-45deg-light-blue-cyan
          .nav-wrapper
            ul.left
              li
                h1.logo-wrapper
                  a.brand-logo.darken-1(href='/')
                    span.logo-text.hide-on-med-and-down Smart Library
            .header-search-wrapper
              #search  
                i.material-icons search
                input.header-search-input.z-depth-2(type='text', name='search', placeholder='Explore Library')
                .search__results
            ul.right.hide-on-med-and-down
              // TODO right nav items
      // end header nav
    // END HEADER
    // ////////////////////////////////////////////////////////////////////////////
    // START MAIN
    #main
      // START WRAPPER
      .wrapper
        // START LEFT SIDEBAR NAV
        aside#left-sidebar-nav
          ul#slide-out.side-nav.fixed.leftside-navigation
            li.user-details.cyan.darken-2
              .row
                .col.col.s4.m4.l4
                  img.circle.responsive-img.valign.profile-image.cyan(src='/images/avatar/avatar-7.png', alt='')
                .col.col.s8.m8.l8
                  ul#profile-dropdown-nav.dropdown-content
                    li
                      a.grey-text.text-darken-1(href='#')
                        i.material-icons face
                        |  Profile
                    li
                      a.grey-text.text-darken-1(href='/users/logout')
                        i.material-icons keyboard_tab
                        |  Logout
                  if user.role == 'ADMIN'
                    a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn(href='#', data-activates='profile-dropdown-nav')
                      | #{user.name}
                      i.mdi-navigation-arrow-drop-down.right
                    p.user-roal Administrator
                  if user.role == 'USER'
                    a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn(href='#', data-activates='profile-dropdown-nav')
                      | #{user.name}
                      i.mdi-navigation-arrow-drop-down.right
                    p.user-roal User
            li.no-padding
              ul.collapsible(data-collapsible='accordion')
                if user.role == 'ADMIN'
                  li.bold
                    a.waves-effect.waves-cyan(href='/catalog')
                      i.material-icons dashboard
                      span.nav-text Dashboard
                li.bold
                  a.waves-effect.waves-cyan(href='/catalog/books')
                    i.material-icons book
                    span.nav-text Books
                li.bold
                  a.waves-effect.waves-cyan(href='/catalog/authors')
                    i.material-icons person
                    span.nav-text Authors
                li.bold
                  a.waves-effect.waves-cyan(href='/catalog/genres')
                    i.material-icons folder
                    span.nav-text Genres
                li.bold
                  a.waves-effect.waves-cyan(href='/catalog/tag')
                    i.material-icons format_size
                    span.nav-text Tags
                li.bold
                  a.btn.waves-effect.waves-light.gradient-45deg-red-pink(href='/catalog/tag/create')
                    i.material-icons.white-text add
                    | Create Tags
          a.sidebar-collapse.btn-floating.transparent.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#', data-activates='slide-out')
            i.material-icons menu
        // END LEFT SIDEBAR NAV
        // ////////////////////////////////////////////////////////////////////////////
        // START CONTENT
      block content

      block footer
      // START FOOTER
      footer.page-footer.gradient-45deg-light-blue-cyan
        .footer-copyright
          .container
            .row
              span.col.s12.m8
                | Copyright © 
                script(type='text/javascript').
                  document.write(new Date().getFullYear());
                a.grey-text.text-lighten-2(href='#', target='_blank') &nbsp; Smart Library
                |  All rights reserved.
              span.col.s12.m4 Developer: Abdullahi Aliyu

      block scripts
      script(src="/js/search.js")
      script.
        $(document).ready(function(){
          $('.fixed-action-btn').floatingActionButton();
        });