extends layout

block content
  h1 #{title}: #{tag.name}  
  
  p Do you really want to delete this Tag?
	
  form(method='POST' action='')
    div.form-group
      input#tagid.form-control(type='hidden',name='tagid', required='true', value=tag._id )

    button.btn.btn-primary(type='submit') Delete