extends layout

block content
  section#short_content  
    .row
      .col.s0.m2
      .col.s12.m8
        .card-panel
          div
            i.material-icons.cyan.circle title
            h4.center-align Tag: #{tag.name}
          hr
          h4 Books
          table.highlight
            each book in tag.books
              tbody
                tr
                  td 
                    a(href=book.url style='color: #5A5A5A')
                      i.material-icons.left book 
                      | !{book.title}

            else
              tbody
                tr  
                  td This author has no books.
      
    
          if user.role == 'ADMIN'
            hr
            p
              a.waves-effect.waves-light.btn.blue(href=tag.url+'/delete')
                i.material-icons.left delete
                | Delete Tag

    