.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

ul.success li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}

 ul.error li, div.reg_error{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  list-style: none;
}



h5 { font-weight: 400; }

.container {
  margin-top: 80px;
  width: 400px;
  height: 70%; 
}

.tabs .indicator {
  background-color: #e0f2f1;
  height: 60px;
  opacity: 0.3;
}

.form-container {
  padding: 40px;
  padding-top: 10px;
}

.confirmation-tabs-btn { position: absolute; }
