
@media screen and (max-width: 900px) {
	#header .header-search-wrapper {
		margin: 10px auto 0 100px;
		width: calc(100% - 190px);
	}
}



section#long_content{
	min-height: 100vh;
}

section#short_content{
	min-height: 85vh;
}

section#content{
	min-height: 80vh;
}

@media screen and (max-width: 1025px) and (min-width: 700px){
	section#content {
		min-height: 90vh;
	}
}